<routes>
  <rout label="1">
    <gap>0,1440</gap>
    <stops>0,9,8,3,4,5,2,1,20</stops>
    <bus label ="0" capacity="35" lambda="4"></bus>
    <bus label ="1" capacity="25" lambda="3"></bus>
    <bus label ="2" capacity="45" lambda="5"></bus>
    <bus label ="3" capacity="15" lambda="2"></bus>
  </rout>
  <rout label="2">
    <gap>0,1440</gap>
    <stops>0,19,18,17,16,15,4,5,1,20</stops>
    <bus label ="0" capacity="10" lambda="1"></bus>
    <bus label ="1" capacity="15" lambda="2"></bus>
    <bus label ="2" capacity="25" lambda="3"></bus>
    <bus label ="3" capacity="35" lambda="4"></bus>
    <bus label ="4" capacity="40" lambda="5"></bus>
  </rout>
  <rout label="3">
    <gap>0,1440</gap>
    <stops>0,9,8,6,7,10,11,12,13,14,20</stops>
    <bus label ="0" capacity="10" lambda="1"></bus>
    <bus label ="1" capacity="25" lambda="2"></bus>
    <bus label ="2" capacity="35" lambda="3"></bus>
    <bus label ="3" capacity="40" lambda="4"></bus>
    <bus label ="4" capacity="35" lambda="5"></bus>
  </rout>
</routes>